In [1]:
import pandas as pd


cs = pd.read_csv('melb_data.csv',index_col=0)
print('info() function:\n')
cs.info() #this print info of data frame

info() function:

<class 'pandas.core.frame.DataFrame'>
Index: 13580 entries, Abbotsford to Yarraville
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Address        13580 non-null  object
 1   Rooms          13580 non-null  int64
 2   Type           13580 non-null  object
 3   Price          13580 non-null  float64
 4   Method         13580 non-null  object
 5   SellerG        13580 non-null  object
 6   Date           13580 non-null  object
 7   Distance       13580 non-null  float64
 8   Postcode       13580 non-null  float64
 9   Bedroom2       13580 non-null  float64
 10  Bathroom       13580 non-null  float64
 11  Car            13518 non-null  float64
 12  Landsize       13580 non-null  float64
 13  BuildingArea   7130 non-null   float64
 14  YearBuilt      8205 non-null   float64
 15  CouncilArea    12211 non-null  object
 16  Lattitude      13580 non-null  float64
 17  Longtitude     13580 non-null  float64
 18  Regionname     13580 non-null  object
 19  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(7)
memory usage: 2.2+ MB

In [2]:
cs.head()#prints first 5 records

,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
Suburb,,,,,,,,,,,,,,,,,,,,
Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [3]:
cs.tail()#prints last 5 records

,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
Suburb,,,,,,,,,,,,,,,,,,,,
Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

#4 data fomatting and converting

In [4]:
print('\nisnull() function:\n')
cs.isnull().sum() #detects missing value

isnull() function:

Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [5]:
print('\ndropna() function:\n')
print(cs.dropna())#use to drop null values

dropna() function:

                      Address  Rooms Type      Price Method        SellerG  \
Suburb
Abbotsford    25 Bloomburg St      2    h  1035000.0      S         Biggin
Abbotsford       5 Charles St      3    h  1465000.0     SP         Biggin
Abbotsford        55a Park St      4    h  1600000.0     VB         Nelson
Abbotsford       124 Yarra St      3    h  1876000.0      S         Nelson
Abbotsford      98 Charles St      2    h  1636000.0      S         Nelson
...                       ...    ...  ...        ...    ...            ...
Whittlesea      30 Sherwin St      3    h   601000.0      S            Ray
Williamstown      75 Cecil St      3    h  1050000.0     VB       Williams
Williamstown    2/29 Dover Rd      1    u   385000.0     SP       Williams
Windsor       201/152 Peel St      2    u   560000.0     PI  hockingstuart
Yarraville    54 Pentland Pde      6    h  2450000.0     VB        Village

                    Date  Distance  Postcode  Bedroom2  Bathroom  Car  \
Suburb
Abbotsford     4/02/2016       2.5    3067.0       2.0       1.0  0.0
Abbotsford     4/03/2017       2.5    3067.0       3.0       2.0  0.0
Abbotsford     4/06/2016       2.5    3067.0       3.0       1.0  2.0
Abbotsford     7/05/2016       2.5    3067.0       4.0       2.0  0.0
Abbotsford     8/10/2016       2.5    3067.0       2.0       1.0  2.0
...                  ...       ...       ...       ...       ...  ...
Whittlesea    29/07/2017      35.5    3757.0       3.0       2.0  1.0
Williamstown  29/07/2017       6.8    3016.0       3.0       1.0  0.0
Williamstown  29/07/2017       6.8    3016.0       1.0       1.0  1.0
Windsor       29/07/2017       4.6    3181.0       2.0       1.0  1.0
Yarraville    29/07/2017       6.3    3013.0       6.0       3.0  2.0

              Landsize  BuildingArea  YearBuilt  CouncilArea  Lattitude  \
Suburb
Abbotsford       156.0         79.00     1900.0        Yarra  -37.80790
Abbotsford       134.0        150.00     1900.0        Yarra  -37.80930
Abbotsford       120.0        142.00     2014.0        Yarra  -37.80720
Abbotsford       245.0        210.00     1910.0        Yarra  -37.80240
Abbotsford       256.0        107.00     1890.0        Yarra  -37.80600
...                ...           ...        ...          ...        ...
Whittlesea       972.0        149.00     1996.0   Whittlesea  -37.51232
Williamstown     179.0        115.00     1890.0  Hobsons Bay  -37.86558
Williamstown       0.0         35.64     1967.0  Hobsons Bay  -37.85588
Windsor            0.0         61.60     2012.0  Stonnington  -37.85581
Yarraville      1087.0        388.50     1920.0  Maribyrnong  -37.81038

              Longtitude             Regionname  Propertycount
Suburb
Abbotsford     144.99340  Northern Metropolitan         4019.0
Abbotsford     144.99440  Northern Metropolitan         4019.0
Abbotsford     144.99410  Northern Metropolitan         4019.0
Abbotsford     144.99930  Northern Metropolitan         4019.0
Abbotsford     144.99540  Northern Metropolitan         4019.0
...                  ...                    ...            ...
Whittlesea     145.13282      Northern Victoria         2170.0
Williamstown   144.90474   Western Metropolitan         6380.0
Williamstown   144.89936   Western Metropolitan         6380.0
Windsor        144.99025  Southern Metropolitan         4380.0
Yarraville     144.89389   Western Metropolitan         6543.0

[6196 rows x 20 columns]

In [6]:
print('\ndescibe() function:\n')
print(cs.describe())#use to view statiscal details

descibe() function:

              Rooms         Price      Distance      Postcode      Bedroom2  \
count  13580.000000  1.358000e+04  13580.000000  13580.000000  13580.000000
mean       2.937997  1.075684e+06     10.137776   3105.301915      2.914728
std        0.955748  6.393107e+05      5.868725     90.676964      0.965921
min        1.000000  8.500000e+04      0.000000   3000.000000      0.000000
25%        2.000000  6.500000e+05      6.100000   3044.000000      2.000000
50%        3.000000  9.030000e+05      9.200000   3084.000000      3.000000
75%        3.000000  1.330000e+06     13.000000   3148.000000      3.000000
max       10.000000  9.000000e+06     48.100000   3977.000000     20.000000

           Bathroom           Car       Landsize  BuildingArea    YearBuilt  \
count  13580.000000  13518.000000   13580.000000   7130.000000  8205.000000
mean       1.534242      1.610075     558.416127    151.967650  1964.684217
std        0.691712      0.962634    3990.669241    541.014538    37.273762
min        0.000000      0.000000       0.000000      0.000000  1196.000000
25%        1.000000      1.000000     177.000000     93.000000  1940.000000
50%        1.000000      2.000000     440.000000    126.000000  1970.000000
75%        2.000000      2.000000     651.000000    174.000000  1999.000000
max        8.000000     10.000000  433014.000000  44515.000000  2018.000000

          Lattitude    Longtitude  Propertycount
count  13580.000000  13580.000000   13580.000000
mean     -37.809203    144.995216    7454.417378
std        0.079260      0.103916    4378.581772
min      -38.182550    144.431810     249.000000
25%      -37.856822    144.929600    4380.000000
50%      -37.802355    145.000100    6555.000000
75%      -37.756400    145.058305   10331.000000
max      -37.408530    145.526350   21650.000000

In [7]:
cs.shape #use to view total colxrow

(13580, 20)

data converting

In [8]:
cs['Bedroom2']=cs['Bedroom2'].astype(int)#converts data type
cs['Rooms']=cs['Rooms'].astype(int)
cs.dtypes

Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2           int64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

data formatting

In [9]:
cs.dtypes #use to show datatypes

Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2           int64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

5.Data normalization

In [10]:
df_min_max_scaled = cs.copy()
  
# apply normalization techniques
for column in df_min_max_scaled.columns:
    df_min_max_scaled['Price'] = (df_min_max_scaled['Price'] - df_min_max_scaled['Price'].min()) / (df_min_max_scaled['Price'].max() - df_min_max_scaled['Price'].min())    
  
# view normalized data
print(df_min_max_scaled)

                        Address  Rooms Type     Price Method   SellerG  \
Suburb
Abbotsford         85 Turner St      2    h  0.156478      S    Biggin
Abbotsford      25 Bloomburg St      2    h  0.106562      S    Biggin
Abbotsford         5 Charles St      3    h  0.154795     SP    Biggin
Abbotsford     40 Federation La      3    h  0.085810     PI    Biggin
Abbotsford          55a Park St      4    h  0.169938     VB    Nelson
...                         ...    ...  ...       ...    ...       ...
Wheelers Hill      12 Strada Cr      4    h  0.130118      S     Barry
Williamstown      77 Merrett Dr      3    h  0.106113     SP  Williams
Williamstown        83 Power St      3    h  0.121705      S     Raine
Williamstown       96 Verdon St      4    h  0.270892     PI   Sweeney
Yarraville           6 Agnes St      4    h  0.134605     SP   Village

                     Date  Distance  Postcode  Bedroom2  Bathroom  Car  \
Suburb
Abbotsford      3/12/2016       2.5    3067.0         2       1.0  1.0
Abbotsford      4/02/2016       2.5    3067.0         2       1.0  0.0
Abbotsford      4/03/2017       2.5    3067.0         3       2.0  0.0
Abbotsford      4/03/2017       2.5    3067.0         3       2.0  1.0
Abbotsford      4/06/2016       2.5    3067.0         3       1.0  2.0
...                   ...       ...       ...       ...       ...  ...
Wheelers Hill  26/08/2017      16.7    3150.0         4       2.0  2.0
Williamstown   26/08/2017       6.8    3016.0         3       2.0  2.0
Williamstown   26/08/2017       6.8    3016.0         3       2.0  4.0
Williamstown   26/08/2017       6.8    3016.0         4       1.0  5.0
Yarraville     26/08/2017       6.3    3013.0         4       1.0  1.0

               Landsize  BuildingArea  YearBuilt CouncilArea  Lattitude  \
Suburb
Abbotsford        202.0           NaN        NaN       Yarra  -37.79960
Abbotsford        156.0          79.0     1900.0       Yarra  -37.80790
Abbotsford        134.0         150.0     1900.0       Yarra  -37.80930
Abbotsford         94.0           NaN        NaN       Yarra  -37.79690
Abbotsford        120.0         142.0     2014.0       Yarra  -37.80720
...                 ...           ...        ...         ...        ...
Wheelers Hill     652.0           NaN     1981.0         NaN  -37.90562
Williamstown      333.0         133.0     1995.0         NaN  -37.85927
Williamstown      436.0           NaN     1997.0         NaN  -37.85274
Williamstown      866.0         157.0     1920.0         NaN  -37.85908
Yarraville        362.0         112.0     1920.0         NaN  -37.81188

               Longtitude                  Regionname  Propertycount
Suburb
Abbotsford      144.99840       Northern Metropolitan         4019.0
Abbotsford      144.99340       Northern Metropolitan         4019.0
Abbotsford      144.99440       Northern Metropolitan         4019.0
Abbotsford      144.99690       Northern Metropolitan         4019.0
Abbotsford      144.99410       Northern Metropolitan         4019.0
...                   ...                         ...            ...
Wheelers Hill   145.16761  South-Eastern Metropolitan         7392.0
Williamstown    144.87904        Western Metropolitan         6380.0
Williamstown    144.88738        Western Metropolitan         6380.0
Williamstown    144.89299        Western Metropolitan         6380.0
Yarraville      144.88449        Western Metropolitan         6543.0

[13580 rows x 20 columns]

6.converting categorical variable into quantatitive variables

In [11]:
column_names = ['Address','Rooms','Type','Price','Method','SellerG','Date','Distance','Postcode','Bedroom2','Bathroom','Car','Landsize','BuildingArea','YearBuilt','CouncilArea','Lattitude','Longtitude','Regionname','Propertycount']



new_cs=cs.copy()#use to copy data

# calling the get_dummies method the first parameter mentions the the name of the data frame to store the new data frame in
# the second parameter is the list of columns which if not mentioned returns the dummies for all categorical columns

new_cs = pd.get_dummies(new_cs, columns = column_names)#used to convert catogorical variable into dummy variable
print(new_cs.head())

            Address_1 Adelle Ct  Address_1 Airlie St  Address_1 Albion Ct  \
Suburb
Abbotsford                    0                    0                    0
Abbotsford                    0                    0                    0
Abbotsford                    0                    0                    0
Abbotsford                    0                    0                    0
Abbotsford                    0                    0                    0

            Address_1 Alexander St  Address_1 Alma St  Address_1 Ann St  \
Suburb
Abbotsford                       0                  0                 0
Abbotsford                       0                  0                 0
Abbotsford                       0                  0                 0
Abbotsford                       0                  0                 0
Abbotsford                       0                  0                 0

            Address_1 Arnot St  Address_1 Arthur St  Address_1 Ash Gr  \
Suburb
Abbotsford                   0                    0                 0
Abbotsford                   0                    0                 0
Abbotsford                   0                    0                 0
Abbotsford                   0                    0                 0
Abbotsford                   0                    0                 0

            Address_1 Ashdown Ct  ...  Propertycount_14949.0  \
Suburb                            ...
Abbotsford                     0  ...                      0
Abbotsford                     0  ...                      0
Abbotsford                     0  ...                      0
Abbotsford                     0  ...                      0
Abbotsford                     0  ...                      0

            Propertycount_15321.0  Propertycount_15510.0  \
Suburb
Abbotsford                      0                      0
Abbotsford                      0                      0
Abbotsford                      0                      0
Abbotsford                      0                      0
Abbotsford                      0                      0

            Propertycount_15542.0  Propertycount_16166.0  \
Suburb
Abbotsford                      0                      0
Abbotsford                      0                      0
Abbotsford                      0                      0
Abbotsford                      0                      0
Abbotsford                      0                      0

            Propertycount_17055.0  Propertycount_17093.0  \
Suburb
Abbotsford                      0                      0
Abbotsford                      0                      0
Abbotsford                      0                      0
Abbotsford                      0                      0
Abbotsford                      0                      0

            Propertycount_17384.0  Propertycount_17496.0  \
Suburb
Abbotsford                      0                      0
Abbotsford                      0                      0
Abbotsford                      0                      0
Abbotsford                      0                      0
Abbotsford                      0                      0

            Propertycount_21650.0
Suburb
Abbotsford                      0
Abbotsford                      0
Abbotsford                      0
Abbotsford                      0
Abbotsford                      0

[5 rows x 32469 columns]